.UserInfo{
    border-radius: 15px;
    background-color: rgba(236, 236, 236, 0.253);
    padding: 5px;
    margin: 20px;
    border: 1px solid #ccc;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.UserInfo h3{
    position: absolute;
    left: 10px;
    margin: 0;
    top: 10px;
    font-size: 25px;
    color:rgb(104, 104, 104);
    cursor: pointer;
}